.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .field {
    text-align: center;
    margin: 0 10px;
  }
  .value {
    display: block;
  }

  .label {
    font-size: 12px;
  }
  .input-btn{
    display: flex;
    justify-content: center;
  }
  .input {
text-align: center;
  }
.btn {
background-color: #569ff7;
border:solid 2px #569ff7;
color:whitesmoke;
border-radius: 10%;

}